*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* Extra */


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/assets/deathnotewallpaper1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.logo{
    font-size: 25px;
    color: white;
    /* color: red; */
    font-weight: bold;
    cursor: pointer;
}

.logo:hover{
    text-shadow: 1.5px 1.5px 1.5px  rgb(243, 191, 191);
    transition: 1s;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    /* color: red; */
    font-size: 13px;
    letter-spacing: 3px;
}

/* Use of after :- we are ading these content after li tag */
/* transition is used to change the all property smoothly in given interval of time */

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}



.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
    /* width: 0ch; */
    overflow: hidden;
    /* So that text doesn't go on the next line */
    white-space: nowrap;
    /* infinte times to run */
    animation: text 10s steps(21) infinite alternate; 
    margin: 0 200px;
    /* border-right: 3px solid black; */
}
/* text is the name of the animation */
@keyframes text {
    0%{
        width: 0ch;
    }
    50%{
        width: 21ch;
    }
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

/* characters */
.characters{
    background: #070c0d;
    height: 700px;
    width: 100%;
    overflow: hidden;
}
.characters .heading{
    display: inline-block;
    position: relative;
    color: #3b7cf5;
    font-size: 4vw;
    padding: 60px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    position: relative;
    top: -49px;
}

.characters .heading:before{
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    background: #393939;
}

.characters .heading b{
    color: #fff;
}
/* fr means fraction */
.characters h1{
    /* text-align: center; */
    /* margin-top: 24px; */
    /* font-size: 44px;
    text-transform: uppercase; */
}

/* .characters h1:hover{
    text-shadow: 11px 7px 13px grey;
    text-decoration-line: underline;
    transition: 2s;
} */

.characters .grid{
    /* margin: 30px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    align-items:center;
    position: relative;
    left: 85px;
}

.characters .grid>article{
    /* background: #eee5e9; */
    background: #222;
    color: #fff;
    border:none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
    position: relative;
    bottom: 36px;
}

.characters .grid>article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}
/* > means direct children of class grid */
.characters .grid>article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.characters .text{
    padding: 0 20px 20px;
    color: #fff;
}

.characters .text .charactertext{
    font-size: 15px;
    margin-top: 10px;
}

.characters .text h3{
    text-transform: uppercase;
    color: #fff;
}



.characters .text button{
    /* margin-top: 10px;
    background: #ef6f6c;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer; */
    border-radius: 10px;
    margin-top: 10px;
}

.characters .text .hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.characters .text .hero-btn1:hover{
    border: 1px solid #3b7cf5;
    background: #3b7cf5;
    transition: 1s;
}

/* Manga */
.manga{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(/assets/deathnotewallpaper2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    width: 100%;
}
.manga .containerManga{
    /* padding: 50px; */
}
.manga a{
    font-size: 4.2rem;
    color: #f44336;
    width: 65px;
    height: 65px;
    /* border-radius: 50%; */
    /* background-color: #f44336; */
    padding-left: 0;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.manga a:hover{
    color: #df1f11;
    transition: 0.2s;
}

.manga .heading{
    display: inline-block;
    position: relative;
    color: #3b7cf5;
    font-size: 4vw;
    padding: 60px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin-top: -50px;
}

.manga .heading:before{
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    background: #393939;
}

.manga .heading b{
    color: #fff;
}

.manga p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: whitesmoke;
    opacity: 0.7;
    margin-top: -31px;
    padding: 29px 2px;
}

/* testinomial */
.testinomial{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #070c0d;
    overflow: hidden;
}

/* .testinomial:before{
    position: absolute;
    content: '';
    width: 2000px;
    height: 100%;
    bottom: -70%;
    border-radius: 50%;
    background: #3b7cf5;
} */

.testinomial .heading{
    display: inline-block;
    position: relative;
    color: #3b7cf5;
    font-size: 4vw;
    padding: 60px;
    width: 100%;
    text-align: center;
    font-weight: 800;
}

.testinomial .heading:before{
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    background: #393939;
}

.testinomial .heading b{
    color: #fff;
}

.testinomial .wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.testinomial .wrapper .containertest{
    position: relative;
    width: 350px;
    color: #fff;
    background: #222;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.wrapper .containertest .profile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}

.wrapper .containertest .profile .imgBox{
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 8px solid #070c0d;
    border-radius: 50%;
    overflow: hidden;
}

.wrapper .containertest .profile .imgBox img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 0.3s ease;
    object-fit: cover;
}

.wrapper .containertest .profile .imgBox:hover img{
    filter:saturate(140%);
    transform: scale(0.95);
}

.wrapper .containertest .profile h2{
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.wrapper .containertest p{
    margin-top: 50px;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    opacity: 0.8;
}

.wrapper .containertest .left{
    font-size: 30px;
    display: block;
    text-align: left;
    color: #3b7cf5;
}

.wrapper .containertest .right{
    font-size: 30px;
    display: block;
    text-align: right;
    color: #3b7cf5;
}

.wrapper .containertest .social{
    width: 100%;
}

.wrapper .containertest .social i{
    font-size: 1.2rem;
    color: #fff;
    padding: 8px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.wrapper .containertest .social i:hover{
    background: #3b7cf5;
}

/* Footer  */
.footer{
    background: #070c0d;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #fff;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    color: #3b7cf5;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.footer .privacy{
    color:#3b7cf5;
}


.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    /* background: #3b7cf5; */
    bottom: 40px;
    right: 37px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: darkgray;
    font-size: 40px;
}


